body{
    background-color: aqua;
}
.cssbold{
    color: azure;
    font-size: 70px;
    text-shadow: 2px 3px black;
}
.h1color{
    text-align: center;
    color: rgb(184, 37, 37);
}
.border0{
border: rgb(8, 33, 33) solid ;background-color: aliceblue;
    width: 300px; height: 1000px 
    

    
}
.border1{
    background-color: aliceblue;width: 400px;height: 400px;
    width: 120px;
    height: 100px;
    border: solid 3px;
    background-color: rgb(52, 30, 73);
    border-color: darkorange;    
}  
.border2{
    background-color: aliceblue; width: 400px; height: 400px;
    width: 120px;
    height: 100px;
    border: solid 3px;
    background-color: rgb(52, 30, 73);
    border-color: darkorange;
    border-radius: 30px 30px 30px 30px;
}
.border3{
    background-color: aliceblue;width: 400px;height: 400px;
    width: 120px;
    height: 100px;
    border: solid 3px;
    background-color: rgb(52, 30, 73);
    border-color: darkorange;
    border-radius: 50px 50px 50px 50px;
}

.border4{
    background-color: aliceblue;width: 400px;height: 400px;
    width: 120px;
    height: 100px;
    border: solid 3px;
    background-color: rgb(52, 30, 73);
    border-color: darkorange;
    border-radius: 20px 0px 20px 0px;
}

.border5{
    background-color: aliceblue;width: 400px;height: 400px;
    width: 120px;
    height: 100px;
    border: solid 3px;
    background-color: rgb(52, 30, 73);
    border-color: darkorange;
    border-radius: 100px 0px 0px 0px;
}

.border6{
    background-color: aliceblue;width: 400px;height: 400px;
    width: 120px;
    height: 100px;
    border: solid 3px;
    background-color: rgb(52, 30, 73);
    border-color: darkorange;
    border-radius: 20px 20px 20px 20px;
}

.border7{
    background-color: aliceblue;width: 400px;height: 400px;
    width: 120px;
    height: 100px;
    border: solid 3px;
    background-color: rgb(52, 30, 73);
    border-color: darkorange;
    border-radius: 90px 0px 90px 0px;
}

.border8{
    background-color: aliceblue;width: 400px;height: 400px;
    width: 120px;
    height: 100px;
    border: solid 3px;
    background-color: rgb(52, 30, 73);
    border-color: darkorange;
    border-radius: 80px 80px 00px 0px;
}
.download{
    border: solid white 1px; width: 200px;height: 150px;
    text-align: center;
    background-color: azure;
    border-radius: 15px 25px 20px 20px;
    border-top: 4px solid rgb(235, 47, 47);
    padding: 15px;
}
.download2{
    border: solid white 1px; width: 200px;height: 150px;
    text-align: center;
    background-color: azure;
    border-radius: 15px 25px 20px 20px;
    border-top: 4px solid rgb(25, 18, 163);
    padding: 15px;
}
